# Members of group 16
Magne Erlendsønn Tenstad <magneet@stud.ntnu.no> <tenstad.magne@gmail.com>
Erlend Paulsen Skaaden <erlendps@stud.ntnu.no> <erlendskaaden@gmail.com>
Hans-Marius Øverås <hansmamo@stud.ntnu.no> <47254808+hansmariusoveras@users.noreply.github.com> <hans.m.overas@ntnu.no>
Silje Birkeland Eriksen <siljberi@stud.ntnu.no>
